<%= render partial: 'landing_page' %>
<div class="container">
  <section class="about">
    <h1>Spintail</h1>
    <p>When you need something extra for your home</p>
  </section>
  <h2> Products </h2>
  <div class="overview">
    <ul class="nav navbar-nav overview-list">
      <li>
        <a href="">All</a>
      </li>
      <li>
        <a href="">Office</a>
      </li>
      <li>
        <a href="">Books & Magazines</a>
      </li>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Children</a>
      </li>
      <li>
        <a href="">Outdoor</a>
      </li>
      <li>
        <a href="">Search</a>
      </li>
    </ul>
  </div>
  <!-- end separator-->
  <div class="row">
    <div class="col col-md-4 pad-bot">
      <div class="product-overlay "></div>
      <%= image_tag("item1.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4 pad-bot">
      <div class="product-overlay"></div>
      <%= image_tag("item2.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4 pad-bot">
      <div class="product-overlay"></div>
      <%= image_tag("item3.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4 pad-bot">
      <div class="product-overlay"></div>
      <%= image_tag("item4.jpg", class: "img-responsive") %>
    </div>
  </div> <!-- end row -->

</div> <!-- end content footer -->
