<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--Start Jumbo -->
 <!-- <div class="jumbo">
  <div class="jumbo-price-block">
    <h2 class="info-text">Sky Planter</h2>
    <span class="info-price"> $25.00</span>
  </div>
</div> -->
<%= params[:example_key].to_i * 10 %>
<%= render partial: 'landing_page' %>
<!-- End Jumbo -->
 <%= yield %>
<div class="container">
  <section class="about">
    <h1>Spintail</h1>
    <p>When you need something extra for your home</p>
  </section>
  <h2> Products </h2>
  <div class="overview">
    <ul class="nav navbar-nav overview-list">
      <li>
        <a href="">All</a>
      </li>
      <li>
        <a href="">Office</a>
      </li>
      <li>
        <a href="">Books & Magazines</a>
      </li>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Children</a>
      </li>
      <li>
        <a href="">Outdoor</a>
      </li>
      <li>
        <a href="">Search</a>
      </li>
    </ul>
  </div>
  <!-- end separator-->
  <div class="row">
    <div class="col col-md-4">
      <div class="product-overlay"></div>
      <%= image_tag("item1.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4">
      <div class="product-overlay"></div>
      <%= image_tag("item2.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4">
      <div class="product-overlay"></div>
      <%= image_tag("item3.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-4">
      <div class="product-overlay"></div>
      <%= image_tag("item4.jpg", class: "img-responsive") %>
    </div>
  </div> <!-- end row -->

</div> <!-- end content footer -->
</body>
</html>
