<div class="container listing-user">
  <table class="table table-responsive">
  <p id="notice"><%= notice %></p>
  <h1>Listing Users</h1>
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Show user</th>
      <th>Edit user</th>
      <th>Destroy user</th>
    </tr>
  </thead>
  <tbody>

      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <th><%= user.first_name %></th>
          <th><%= user.last_name %></th>
          <th><%= link_to 'Show', user %></th>
          <th><%= link_to 'Edit', edit_user_path(user) %></th>
          <th><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
      <% end %>

  </tbody>
  </table>
  <div class="actions">
    <%= link_to 'New User', new_user_path, class: "btn btn-default" %>
  </div>
</div>
