<div class="container products-show-page">
  <div class="show">
    <form accept-charset="UTF-8" action="/" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  </form>
  <div class="row">

    <div class="col col-md-8">
      <%= image_tag(@product.image_url, class: "img-responsive")  %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <div class="col col-md-4">
      <h1 class="name"><%= @product.name %></h1>
        <p><div class="rated" data-score="<%= @product.average_rating %>"></div></p>
      <h2 class="price"><%= @product.price %></h2>
      <strong>Description:</strong>
      <p class="description"><%= @product.description %></p>
      <strong>Color:</strong>
      <p class="colour"><%= @product.colour %></p>
    <% if signed_in? %>
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    <% else %>
    <% end %>
    </div>

    </div><!-- row -->
  </div>
  <div class="row">
    <div class="col col-md-6">
      <% if signed_in? %>
        <h4>Add a review:</h4>
          <%= form_for([@product, @product.comments.build]) do |f| %>

              <%= f.label :body, "Comments" %><br>
              <%= f.text_area :body, class: "form-control review-text" %>
              <%= f.label :rating %><br>
              <div class="rating"></div>
              <%= f.submit "Submit", class: "btn btn-default" %>
          <% end %>
      <% end %>
      <%= render 'comments' %>
    </div>
  </div>
</div> <!-- end container -->
