<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
  <div class="container">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
</nav>
<div class="jumbo u-max-full-width">

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-3">
      <%= image_tag("bike1.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-3">
      <%= image_tag("bike2.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-3">
      <%= image_tag("bike3.jpg", class: "img-responsive") %>
    </div>
    <div class="col col-md-3">
      <%= image_tag("bike4.jpg", class: "img-responsive") %>
    </div>
  </div> <!-- end row -->
  
  <%= yield %>

  <footer>
    &copy; 2015 Bike Berlin
  </footer>
</div> <!-- end content footer -->
</body>
</html>
