<!DOCTYPE html>
<html>
<head>
  <title>Spintailz</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="menu">
  <%= render 'static_pages/nav' %>
  <%= yield %>
  <%= render 'static_pages/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
      });
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
  $(function() {
    setTimeout(function(){
      $('.notice,.alert').fadeOut(500);
    }, 1000);
  });

  $(document).ready(function(){
    var selectedCategory;

    var $grid = $('.grid').isotope({
      itemSelector: '.grid-item',
      masonry: {
        percentPosition: true,
        columnWidth: '.grid-sizer'
      },
      getSortData: {
        selectedCategory: function( itemElem ) {
          return $( itemElem ).hasClass( selectedCategory ) ? 0 : 1;
        }
      }
    });

    var $items = $('.grid').find('.grid-item');

    $('.sort-link-group').on( 'click', '.sort', function() {
      // set selectedCategory
      selectedCategory = $( this ).attr('data-category');
      if ( selectedCategory == 'all' ) {
        $grid.isotope({
          sortBy: 'original-order'
        });
        // restore all items to full opacity
        $items.css({
          opacity: 1
        });
        return;
      }
      // change opacity for selected/unselected items
      var selectedClass = '.' + selectedCategory;
      $items.filter( selectedClass ).css({
        opacity: 1
      });
      $items.not( selectedClass ).css({
        opacity: 0.25
      });

      // update sort data now that selectedCategory has changed
      $grid.isotope('updateSortData');
      $grid.isotope({ sortBy: 'selectedCategory' });
    });

      // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'button', function() {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        $( this ).addClass('is-checked');
      });
    });
  });
  });


  </script>
</body>
</html>
